@import '../../footer/footer.scss';

.login-page {
  width: 100%;
  height: calc(100vh - $footer-height);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .login-page__title {
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
      color: var(--purple-dark);

      span {
        color: var(--blue-interactive);
      }
    }
  }

  input {
    display: block;
    width: 450px;
    height: 55px;
    padding: 0 15px;
    margin-bottom: 3vh;

    border: 3px solid var(--purple-dark);
    border-radius: 10px;

    color: var(--purple-dark);
  }

  input::placeholder {
    color: #C4C4C4;
  }

  input:focus {
    border: 3px solid var(--blue-interactive);
    color: var(--blue-interactive);
  }

  .login-page__button {
    width: 300px;
    height: 50px;

    background-color: var(--purple-main);
    color: var(--font-color-secondary);
    border-radius: 10px;
    transition: .2s linear;

    &:hover {
      background-color: var(--blue-interactive);
    }

    &.light {
      margin-top: 50px;

      color: var(--font-color-main);
      background-color: var(--purple-light);

      &:hover {
        background-color: var(--blue-interactive-light);
      }
    }

    + p {
      margin-top: 5px;
      font-size: 20px;

      a {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }
}