@mixin HD_Resolution {
  @media (max-width: 1440px) {
    @content;
  }
}

@mixin ipad {
  @media (max-width: 900px) {
    @content;
  }
}

:root {
  --width: calc(1vw / 19.2);
  --height: calc(1vh / 10.8);
}

.main-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: url(../../../assets/images/background-waves/main-page-wave.svg)
    bottom no-repeat;

  &__title {
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 28px;
    }
    h1 {
      display: flex;
      color: var(--purple-dark);
      font-size: 140px;
      .r,
      .s {
        color: var(--blue-interactive);
      }
    }
  }
  &__cards {
    width: 70vw;
    padding: 5px;

    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
    :nth-child(1) {
      .card-img__wrapper {
        background-image: url(../../../assets/images/mainPage/0.png);
=======
    @include HD_Resolution {
      width: 90vw;
    }

    @include ipad {
      display: grid;
      width: 70vw;
      grid-template-areas:
        'div div'
        'div div';
    }

    .main-page__card {
      max-width: 250px;

      display: flex;
      flex-direction: column;
      align-items: center;

      border: 1px solid var(--font-color-main);
      border-radius: 10px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      background-color: #fff;

      cursor: pointer;
      transition: 0.2s linear;

      &:hover {
        border: 1px solid var(--purple-main);
        // background-color: var(--purple-light);
        color: var(--blue-interactive);
>>>>>>> 28bd5572a9c98602e0f4b64b1a35903a69c02fd5
      }

      @include HD_Resolution {
        margin-right: 10px;
        margin-bottom: 10px;
      }
    }
<<<<<<< HEAD
    :nth-child(2) {
      .card-img__wrapper {
        background-image: url(../../../assets/images/mainPage/1.png);
=======
    .card-img__wrapper {
      margin-top: 20px;
      img {
        height: calc(175 * var(--width));
>>>>>>> 28bd5572a9c98602e0f4b64b1a35903a69c02fd5
      }
    }
    :nth-child(3) {
      .card-img__wrapper {
        background-image: url(../../../assets/images/mainPage/2.png);
      }
    }
    :nth-child(4) {
      .card-img__wrapper {
        background-image: url(../../../assets/images/mainPage/3.png);
      }
    }
  }
  &__card {
    max-width: 250px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid var(--font-color-main);
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #fff;

    cursor: pointer;
    transition: 0.2s linear;

    &:hover {
      border: 1px solid var(--purple-main);
      color: var(--blue-interactive);
    }
  }
  .card-img__wrapper {
    margin-top: 20px;
    width: 175px;
    height: 175px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .card__title {
    font-weight: 500;
    margin-bottom: 10px;
  }
  .card__text {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
}
