$aside-closed-width: 4vw;
$aside-opened-width: calc($aside-closed-width * 3);
$button-open-size: 30px;
$button-nav-size: 30px;

.aside {
  position: relative;
  overflow: hidden;

  width: $aside-closed-width;
  height: 100vh;
  padding-top: 25px;

  background-color: var(--purple-main);
  color: var(--font-color-secondary);

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.2s linear;

  &.opened {
    width: $aside-opened-width;
  }

  .button-open__container {
    width: 100%;
    height: $button-open-size;
    display: flex;
    justify-content: flex-start;
    padding-left: calc(($aside-closed-width - $button-open-size) / 2);

    // took animation from https://codepen.io/designcouch/pen/ExvwPY

    .button-open {
      width: $button-open-size;
      height: $button-open-size;
      position: relative;
      transform: rotate(0deg);
      transition: 0.5s ease-in-out;
      cursor: pointer;

      span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: var(--font-color-secondary);
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {
          top: 0px;
        }

        &:nth-child(2) {
          top: 10px;
        }

        &:nth-child(3) {
          top: 20px;
        }
      }

      &.opened span:nth-child(1) {
        top: 10px;
        transform: rotate(135deg);
      }

      &.opened span:nth-child(2) {
        opacity: 0;
        left: -45px;
      }

      &.opened span:nth-child(3) {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }

  .navigation {
    position: absolute;
    top: 90px;
    left: 0;
    width: $aside-opened-width;
  }

  li {
    position: relative;
    width: 100%;
    height: 50px;
    padding-left: $aside-closed-width;

    display: flex;
    align-items: center;

    background-position: calc(($aside-closed-width - $button-nav-size) / 2)
      center;
    background-size: $button-nav-size $button-nav-size;
    background-repeat: no-repeat;

    cursor: pointer;
    transition: 0.2s linear;

    &:hover {
      background-color: var(--purple-footer);
    }

    &.active::after {
      content: '';
      position: absolute;
      left: 0;
      height: 50px;
      width: 3px;
      background-color: var(--font-color-secondary);
    }

    &[data-navigation='main'] {
      background-image: url(../../assets/images/navigation/home.svg);
    }
    &[data-navigation='book'] {
      background-image: url(../../assets/images/navigation/book.svg);
      background-size: $button-nav-size calc($button-nav-size - 7px);
    }
    &[data-navigation='games'] {
      background-image: url(../../assets/images/navigation/games.svg);
      background-size: $button-nav-size calc($button-nav-size - 5px);
    }
    &[data-navigation='stats'] {
      background-image: url(../../assets/images/navigation/stats.svg);
      background-size: $button-nav-size calc($button-nav-size - 5px);
    }
    &[data-navigation='team'] {
      background-image: url(../../assets/images/navigation/team.svg);
    }
    &[data-navigation='login'] {
      background-image: url(../../assets/images/navigation/login2.svg);
      transition: 0s;
    }
    &[data-navigation='logout'] {
      background-image: url(../../assets/images/navigation/logout.svg);
      background-size: $button-nav-size calc($button-nav-size - 2px);
      transition: 0s;
    }
  }

  .navigation__login {
    width: 100%;

    position: absolute;
    bottom: 10px;
    left: 0;
  }
}
