$aside-closed-width: 4vw;
$aside-opened-width: calc($aside-closed-width * 3);
$button-open-size: 30px;
$button-nav-size: 20px;

.aside {
    position: relative;
    overflow: hidden;

    width: $aside-closed-width;
    height: 100vh;
    padding-top: 20px;
    background-color: var(--main-purple);

    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .2s linear;

    &.opened {
        width: $aside-opened-width;
    }

    .button-open {
        position: absolute;
        top: 20px;
        left: calc(($aside-closed-width - $button-open-size) / 2);

        width: $button-open-size;
        height: $button-open-size;
        
        background: url(../../images/burger-menu.svg) center/cover no-repeat;
        cursor: pointer;
    }

    .navigation {
        position: absolute;
        top: 90px;
        left: 0;
        width: $aside-opened-width;

        li {
            position: relative;
            width: 100%;
            height: 50px;
            padding-left: $aside-closed-width;

            display: flex;
            align-items: center;

            background-image: url(../../images/burger-menu.svg);
            background-position: calc(($aside-closed-width - $button-nav-size) / 2) center;
            background-size: $button-nav-size $button-nav-size;
            background-repeat: no-repeat;
            transition: .2s linear;
        
            &:hover {
                background-color: var(--footer-purple);
            }
            
            &.active::after {
                content: '';
                position: absolute;
                left: 0;
                height: 50px;
                width: 3px;
                background-color: var(--font-color-main);
            }
        }
    }
}