:root {
  --purple-main: #745296;
  --purple-footer: #684587;
  --purple-dark: #632A50;
  --purple-light: #EBE4F1;
  --blue-interactive: #71A0C1;
  --blue-interactive-light: #C6D9E6;
  --font-color-main: #000000;
  --font-color-secondary: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 24px;
  // color: var(--font-color-main);
  font-family: 'Source Sans Pro';
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  overflow: auto;
}

h1 {
  font-size: 144px;
  font-family: 'Quicksand';
}

h2 {
  font-size: 36px;
  font-family: 'Quicksand';
}

a {
  text-decoration: none;
}

a, span {
  font: inherit;
}

ul, ol {
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  outline: none;
  font: inherit;
}

::-webkit-scrollbar {
  width: 0px;
}

.main__wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
}