:root {
  --alt-green: #1cfdc3;
  --alt-yellow: #ffec61;
  --alt-red: #ff4569;
  --alt-purple: #8066ff;
  --alt-purple-hover: #6647ff;
  --alt-black: #000000;
  --alt-white: #ffffff;
  --alt-border-2px: 2px solid var(--alt-black);
  --box-shadow-5px: 5px 5px 0 var(--alt-black);
  --box-shadow-3px: 3px 3px 0 var(--alt-black);
  --box-shadow-1-5px: 1.5px 1.5px 0 var(--alt-black);
  --text-border-2px: 2px 2px 1px var(--alt-black),
    -2px -2px 1px var(--alt-black), -2px 2px 1px var(--alt-black),
    2px -2px 1px var(--alt-black);
  --text-border-05px: 0.5px 0.5px 0.5px var(--alt-black),
    -0.5px -0.5px 0.5px var(--alt-black), -0.5px 0.5px 0.5px var(--alt-black),
    0.5px -0.5px 0.5px var(--alt-black);
}

.alter {
  --a1: #1cfdc3;
  --a2: #90f69b;
  --b1: #c8f17b;
  --b2: #ffec61;
  --c1: #f9b35c;
  --c2: #ff4569;
  --red: #f50031;
  --easy: #1fea26;
  --c: #1cfdc3;

  * {
    font-weight: 500;
  }

  .aside {
    background-color: var(--alt-purple);
    border: 2px solid var(--alt-black);
    border-left: none;

    li {
      &:hover {
        background-color: var(--alt-purple-hover);
      }
    }
  }

  .main-page {
    background: url(../images-alter/main-page/main-page-bg.svg) bottom -7vh right
      no-repeat;
    &__title {
      h1 {
        font-weight: bold;
        color: unset;
        text-shadow: var(--text-border-2px);

        span {
          color: inherit;
          font-weight: inherit;
        }
        .purple {
          color: var(--alt-purple);
        }
        .red {
          color: var(--alt-red);
        }
        .yellow {
          color: var(--alt-yellow);
        }
        .green {
          color: var(--alt-green);
        }
      }
    }
    &__card {
      padding: 0 5px;
      position: relative;
      border: var(--alt-border-2px);
      border-radius: unset;
      box-shadow: var(--box-shadow-5px);
      transition: 0s;
      &:hover {
        border: var(--alt-border-2px);
      }
      &:active {
        top: 5px;
        left: 5px;
        box-shadow: unset;
        border: var(--alt-border-2px);
      }
    }
    .card__title {
      font-weight: 700;
    }
    &__cards {
      :nth-child(1) {
        &:hover {
          .card__title,
          .card__text {
            color: var(--alt-purple);
          }
        }
        .card-img__wrapper {
          background-image: url(../images-alter/main-page/0.svg);
        }
      }
      :nth-child(2) {
        &:hover {
          .card__title,
          .card__text {
            color: var(--alt-red);
          }
        }
        .card-img__wrapper {
          background-image: url(../images-alter/main-page/1.svg);
        }
      }
      :nth-child(3) {
        &:hover {
          .card__title,
          .card__text {
            color: var(--alt-green);
          }
        }
        .card-img__wrapper {
          background-image: url(../images-alter/main-page/2.svg);
        }
      }
      :nth-child(4) {
        &:hover {
          .card__title,
          .card__text {
            color: var(--alt-yellow);
          }
        }
        .card-img__wrapper {
          background-image: url(../images-alter/main-page/3.svg);
        }
      }
    }
    .card-img__wrapper {
      margin-top: 10px;
    }
  }

  .level-page {
    background: url(../images-alter/level-page/level-page-bg-2.svg) right bottom -7vh
      no-repeat;
    .levels {
      padding-right: 5px;
      .level-item {
        border-radius: unset;
        border: var(--alt-border-2px);
        box-shadow: var(--box-shadow-5px);
        background-color: var(--alt-white);
        .label {
          padding-right: unset;

          border-top-right-radius: unset;
          border-bottom-right-radius: unset;
          border-right: var(--alt-border-2px);
        }
      }
    }
    .level-page__description_wrapper {
      padding-right: 5px;
    }
    .level-page__description {
      height: 100%;
      margin-bottom: 30px;

      border-radius: unset;
      border: var(--alt-border-2px);
      box-shadow: var(--box-shadow-5px);
      background: url(../images-alter/level-page/level-page-girl.svg) bottom
        no-repeat;
      background-size: 70%;
      background-color: var(--alt-white);
    }
    .level-img {
      display: none;
    }
  }

  .main__wrapper .book-page {
    background: url(../images-alter/book-page/book-bottom-bg.svg) bottom left -2px
        no-repeat,
      url(../images-alter/book-page/book-top-bg.svg) top right no-repeat;
  }

  .main__wrapper .book-page.learned {
    background: url(../images-alter/book-page/book-bottom-learned-bg.svg) bottom
        left -2px no-repeat,
      url(../images-alter/book-page/book-top-learned-bg.svg) top right no-repeat;
  }

  .book-page {
    h2 {
      font-weight: 500;
    }
    &__games-menu {
      border-radius: unset;
      border: var(--alt-border-2px);
      box-shadow: var(--box-shadow-3px);
      &_button {
        position: relative;
        border-radius: unset;
        border: var(--alt-border-2px);
        box-shadow: var(--box-shadow-3px);
        background-color: var(--alt-purple);
        color: var(--alt-white);
        font-weight: normal;
        transition: 0s;
        &:hover {
          background-color: var(--alt-yellow);
        }
        &:active {
          top: 3px;
          left: 3px;
          box-shadow: unset;
        }
      }
    }
    &__pagination-container {
      padding-right: 3px;
      &_button {
        border-radius: unset;
        border: var(--alt-border-2px);
        box-shadow: var(--box-shadow-3px);
      }
      &_counter {
        border-radius: unset;
        border: var(--alt-border-2px);
        box-shadow: var(--box-shadow-3px);
      }
    }
    &__level-container {
      margin-right: 3px;
      border-radius: unset;
      border: var(--alt-border-2px);
      box-shadow: var(--box-shadow-3px);
      &_button {
        border-radius: unset;
        border: var(--alt-border-2px);
        box-shadow: unset;
      }
    }
    .words-container {
      padding-right: 5px;
      &__item {
        border-radius: unset;
        border: var(--alt-border-2px);
        box-shadow: var(--box-shadow-5px);

        &.easy [data-word='easy'] {
          background-image: url(../images-alter/book-page/alt-correct-active.svg);
        }

        &.hard [data-word='hard'] {
          background-image: url(../images-alter/book-page/alt-wrong-active.svg);
        }

        &_image-block {
          border-radius: unset;
          border-right: var(--alt-border-2px);
          img {
            border-radius: unset;
            border: var(--alt-border-2px);
          }
        }
        &_controlls-block {
          .answers-counter__block {
            input[type='number'] {
              border-radius: unset;
              box-shadow: unset;
              border: var(--alt-border-2px);
            }
          }
        }
      }
    }
  }

  .games-page {
    background: url(../images-alter/games-page/games-left.svg) left bottom
        no-repeat,
      url(../images-alter/games-page/games-right.svg) right bottom no-repeat;
    .games-card {
      position: relative;
      padding-top: 160px;
      border: var(--alt-border-2px);
      border-radius: unset;
      box-shadow: var(--box-shadow-5px);
      background-color: var(--alt-white);
      background-position: top 10px center;

      background-size: 220px;
      background-repeat: no-repeat;
      transition: 0s;
      &:hover {
        filter: unset;
      }
      &:active {
        top: 5px;
        left: 5px;
        box-shadow: unset;
        border: var(--alt-border-2px);
      }
      &[data-games='sprint'] {
        background-image: url(../images-alter/games-page/sprint.svg);
        &:hover {
          color: var(--alt-red);
        }
      }
      &[data-games='audiocall'] {
        background-image: url(../images-alter/games-page/audiocall.svg);
        &:hover {
          color: var(--alt-purple);
        }
      }
      h2 {
        font-weight: 500;
      }
      img {
        display: none;
      }
    }
  }

  .audioCall-page {
    background: url(../images-alter/book-page/book-bottom-bg.svg) bottom left -2px
        no-repeat,
      url(../images-alter/book-page/book-top-bg.svg) top right no-repeat;
    background-color: var(--alt-green);
    .container {
      .answers__wrapper {
        border: var(--alt-border-2px);
        box-shadow: var(--box-shadow-3px);
        border-radius: unset;
        background-color: var(--alt-white);
      }
      .audio__wrapper {
        .audioButton__wrapper {
          width: 25vh;
          height: 25vh;
          padding-right: 3px;
          border: var(--alt-border-2px);
          border-width: 3px;
          border-radius: unset;
          box-shadow: var(--box-shadow-3px);
          background-color: var(--alt-black);
          .audioCall__audio-button {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: unset;
            background-color: var(--alt-purple);
            transition: 0s;
            :active {
              top: 3px;
              left: 3px;
            }
          }
        }
      }
    }
    .btn {
      position: relative;
      border: var(--alt-border-2px);
      box-shadow: var(--box-shadow-3px);
      background-color: var(--alt-yellow);
      border-radius: unset;
      transition: 0s;
      &:active {
        top: 3px;
        left: 3px;
        box-shadow: unset;
      }
    }
    #dontKnowButton {
      background-color: var(--alt-red);
    }
    .right-answer {
      background-color: var(--easy);
    }
    .bad-answer {
      background-color: var(--red);
    }
  }

  .sprint-wrapper {
    background: url(../images-alter/sprint/sprint-right.svg) right bottom
        no-repeat,
      url(../images-alter/sprint/sprint-left.svg) left bottom no-repeat;
    background-color: var(--alt-white);
    .game-area {
      .timer,
      .points,
      .count-points {
        font-weight: 500;
      }
      .progress-item {
        border-radius: unset;
        border: var(--alt-border-2px);
        background-color: var(--alt-white);
      }
      .progress .complete {
        background-color: var(--easy);
      }
    }
    .main-window {
      border-radius: unset;
      border: var(--alt-border-2px);
      box-shadow: var(--box-shadow-5px);
      .word,
      .translate-word {
        font-weight: 500;
        display: flex;
        align-items: center;
      }
      .main-buttons {
        margin-top: 35px;
        padding: 3px;
        height: unset;
        .btn {
          height: unset;
          position: relative;
          border-radius: unset;
          border: var(--alt-border-2px);
          box-shadow: var(--box-shadow-3px);
          transition: 0s;
          &:hover {
            filter: brightness(1.2);
          }
          &:active {
            top: 3px;
            left: 3px;
          }
        }
        .right {
          background-color: var(--alt-green);
        }
        .wrong {
          background-color: var(--alt-red);
        }
      }
    }
  }

  .gameResult-modalWindow .modal__content {
    border-radius: unset;
    border: var(--alt-border-2px);
    .modal__results {
      .total-result {
        border-radius: unset;
        border: var(--alt-border-2px);
        border-width: 1px;
        background-color: var(--a1);
      }
      .guessed-in-row {
        border-radius: unset;
        border: var(--alt-border-2px);
        border-width: 1px;
        background-color: var(--a2);
      }
      .answers__wrapper {
        .correct-answers {
          border-radius: unset;
          border: var(--alt-border-2px);
          border-width: 1px;
          background-color: var(--easy);
        }
        .wrong-answers {
          border-radius: unset;
          border: var(--alt-border-2px);
          border-width: 1px;
          background-color: var(--red);
        }
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--alt-purple);
        border: 1px solid var(--alt-black);
        border-radius: unset;
      }
      &::-webkit-scrollbar-track {
        border: 1px solid var(--alt-black);
        border-radius: unset;
      }
    }
    .restart-game-btn__wrapper {
      padding-bottom: 3px;
      .restart-game {
        position: relative;
        background-color: var(--alt-purple);
        border: var(--alt-border-2px);
        border-radius: unset;
        box-shadow: var(--box-shadow-3px);
        &:hover {
          background-color: var(--alt-yellow);
        }
        &:active {
          top: 3px;
          right: 3px;
        }
      }
    }
  }

  .main__wrapper .stats-page {
    background: url(../images-alter/stats-page/stats-page-bottom.svg) right 2px
      bottom -3vh no-repeat;
  }

  .stats-page {
    h1,
    h2,
    h3,
    h4 {
      font-weight: 500;
    }
    &__card {
      border: var(--alt-border-2px);
      border-radius: unset;
      box-shadow: var(--box-shadow-5px);
    }
    span {
      border-radius: unset;
      border: var(--alt-border-2px);
      &.words {
        background-color: var(--a1);
      }
      &.accuracy {
        background-color: var(--a2);
      }
      &.row {
        background-color: var(--b1);
      }
    }
  }

  .team-page {
    background: url(../images-alter/book-page/book-bottom-bg.svg) bottom -2px left -2px
        no-repeat,
      url(../images-alter/book-page/book-top-bg.svg) top right no-repeat;
    .team__card {
      border: var(--alt-border-2px);
      border-radius: unset;
      box-shadow: var(--box-shadow-5px);
      .img-border {
        border-radius: unset;
        border-right: var(--alt-border-2px);
        background-color: var(--alt-green);
        .img {
          border-radius: unset;
          border: var(--alt-border-2px);
        }
      }
      .info__name {
        font-weight: 500;
      }
    }
  }

  .login-page {
    background: url(../images-alter/main-page/main-page-bg.svg) bottom -7vh right
        no-repeat,
      url(../images-alter/login-page/login-page.svg) top 50px right 50px / 350px
        no-repeat;
    h2 {
      color: var(--alt-red);
    }
    &__input {
      border: var(--alt-border-2px);
      border-color: var(--alt-purple);
      border-width: 3px;
      border-radius: unset;
      box-shadow: var(--box-shadow-3px);
      &:focus {
        border-color: var(--alt-yellow);
      }
    }
    &__button {
      position: relative;
      border: var(--alt-border-2px);
      border-radius: unset;
      box-shadow: var(--box-shadow-3px);
      color: var(--alt-white);
      background-color: var(--alt-purple);
      transition: 0s;
      &:hover {
        color: var(--alt-black);
        background-color: var(--alt-yellow);
      }
      &:active {
        top: 5px;
        left: 5px;
        box-shadow: unset;
      }
    }
  }

  .footer {
    background-color: var(--alt-yellow);
    border: var(--alt-border-2px);
    border-left: none;
    color: var(--alt-black);
    .team a {
      color: var(--alt-black);
    }
    .rsschool {
      background-image: url(../images-alter/rsschool.svg);
    }
  }

  .error-page {
    background: url(../images-alter/error.svg) center bottom 100px no-repeat;
    background-size: 450px;
    h2,
    h3,
    h4 {
      font-weight: 500;
    }
    [data-error='login'] {
      color: var(--alt-purple);
      transition: 0s;
      &:hover {
        color: var(--alt-yellow);
      }
    }
  }
  .wrapper-spinner {
    background: var(--alt-yellow);
  }
  .base-timer__path-remaining.purple {
    color: var(--alt-red);
  }
}
