.games {
  &-page {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(../../../assets/images/background-guys/games-page-left-guy.svg)
        left 3% bottom 3% no-repeat,
      url(../../../assets/images/background-guys/games-page-right-guy.svg) right
        3% bottom 3% no-repeat,
      url(../../../assets/images/background-waves/games-page-wave.svg) bottom
        left -30px no-repeat;

    &__container {
      width: 50%;
      padding: 5px;
      margin-bottom: 15%;

      display: flex;
      justify-content: space-between;
    }
  }

  &-card {
    min-height: 400px;
    width: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border: 1px solid var(--font-color-main);
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    // background-color: var(--font-color-secondary);

    cursor: pointer;
    transition: 0.2s linear;

    img {
      height: 150px;
    }

    h2 {
      font-size: 48px;
      font-weight: 300;
      font-family: 'Source Sans Pro';
    }

    p {
      text-align: center;
    }

    &:hover {
      filter: invert(64%) sepia(27%) saturate(537%) hue-rotate(162deg)
        brightness(90%) contrast(86%);
    }
  }
}
